@model PartialView.Models.ListaDeModel

<ul>
    @foreach(var euTeste in Model.lista)
    {
       <li>
          <span style="color: @Model.cor; font-size: 12px; margin: 10px; display: @Model.displaycss ">
                @euTeste.nome
          </span>
           <span style="color: @Model.cor; font-size: 12px; margin: 10px; display: @Model.displaycss">
                @euTeste.idade
           </span>
           <span style="color: @Model.cor; font-size: 12px; margin: 10px; display: @Model.displaycss">
                @euTeste.email
           </span>
          
       </li>
    }
</ul>